<h1>Entry Details</h1>

<p>
  <strong>Emission Source:</strong>
  <%= @entry.emission_source.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @entry.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @entry.emission_source.unit %>
</p>

<p>
  <strong>CO2 Emissions (kg):</strong>
  <%= @entry.co2 %>
</p>

<p>
  <strong>CH4 Emissions (kg):</strong>
  <%= @entry.ch4 %>
</p>

<p>
  <strong>N2O Emissions (kg):</strong>
  <%= @entry.n2o %>
</p>

<p>
  <strong>CO2_eq (kg):</strong>
  <%= @entry.co2_eq %>
</p>

<p>
  <strong>CO2_bio (kg):</strong>
  <%= @entry.co2_bio %>
</p>
