<div class="p-8 flex flex-col text-center space-y-2">
  <h1 class="text-2xl py-8">Hi <%= @entry.user_name %></h1>

  <div class="space-y-2">
    <h2 class="text-xl">You have emitted these quantities by using <%= @entry.quantity %> of <%= @entry.emission_source.name %> for <%= @entry.duration %> days:</h2>

    <p>
      <% if @entry.emission_source_id == 1 %>
        <strong>CO2 Emissions (L):</strong>
      <% else %>
        <strong>CO2 Emissions (ton):</strong>
      <% end %>
      <%= @entry.co2 %>
    </p>

    <p>
      <% if @entry.emission_source_id == 1 %>
        <strong>CH4 Emissions (L):</strong>
      <% else %>
        <strong>CH4 Emissions (ton):</strong>
      <% end %>
      <%= @entry.ch4 %>
    </p>

    <p>
      <% if @entry.emission_source_id == 1 %>
        <strong>N2O Emissions (L):</strong>
      <% else %>
        <strong>N2O Emissions (ton):</strong>
      <% end %>
      <%= @entry.n2o %>
    </p>

    <p>
      <% if @entry.emission_source_id == 1 %>
        <strong>CO2_bio (L):</strong>
      <% else %>
        <strong>CO2_bio (ton):</strong>
      <% end %>
      <%= @entry.co2_bio %>
    </p>

    <h2 class="text-xl py-6"><strong>Total emissions are: <%= number_with_precision(@entry.co2_eq, precision: 2) %> tons</strong></h2>
  </div>

  <div class="text-xl text-white">
    <%= link_to "Calculate other emissions", root_path, class:"px-4 py-2 rounded bg-green-500" %>
  </div>
</div>
